<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-Page</title>
</head>
<body>
    <h1>
        login-Page
    </h1>
    <form method="post" action="/api/user/login">
        <label>username</label>
        <input type="text" name="userName">
        <label>password</label>
        <input type="text" name="password">
        <button type="submit">Login</button>
        
    </form>
</body>
</html>